$primary-color: #ec82ae;
$secondary-color: #7a6563;
$background-color: #e5d4ce;
$background-primary-color: #dca7bd;
$font-color: #4c4c4c;

@mixin setLinkStyleAll {
  &,
  &:hover,
  &:link,
  &:active,
  &:visited {
    @content;
  }
}
