@import 'common';
html,
body {
  height: 100%;
}
#root, .App {
  height: 100%;
}

body {
  max-width: 800px;
  margin: 0 auto;
  background: $background-color;
  color: $font-color;
}

.App {
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

p,ul,li {
  color: #333;
}

legend {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.3rem;
  padding: 8px 0;
  text-align: left;
}
label {
  font-weight: bold;
  margin-bottom: 0;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:visited, .btn-primary:link {
  @include setLinkStyleAll {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
}

.clearfix {
  clear:both;
}

.l-icon-action {
  color: $font-color !important;
  font-size: 18px !important;
}
.l-icon-action:hover {
  cursor: pointer;
  color: $primary-color !important;
}
