@import "common";

input {
  margin-bottom: 0.2rem !important;
}

.quizz_button {
  width: 49%;
  padding: 1rem 0 !important;
  font-size: 1rem !important;
}
.quizz_button_right {
  float: right;
}

.add-entry-form {
}
.add-entry-form button {
  float: right;
}

table {
  width: 100%;
  background: transparent;
  overflow: auto;
  margin-bottom: 2em;
  border: 1px solid $primary-color;
}
table td,
table th {
  padding: 0.3em 0.5em;
  border-bottom: 1px solid $primary-color;
}

/* override react-super-responsive-table */
@media screen and (max-width: 40em) {
  .responsiveTable td .tdBefore {
    display: inline !important;
    width: unset !important;
    position: unset !important;
  }
  .responsiveTable td .tdBefore::after {
    content: ": ";
  }
  .responsiveTable td.deleteIcon .tdBefore::after {
    content: "Remove: ";
  }

  .responsiveTable td.pivoted {
    padding-left: unset !important;
  }
  .responsiveTable tbody tr {
    border: 1px solid $background-color;
  }
}

.deleteAllRow {
  margin-bottom: 1em;
}
.deleteAllRow button {
  margin-right: 1em;
}
