@import "common";

.flashcards {
  list-style-type: none;
  padding: 0;
}
.flashcards li {
  background: $background-primary-color;
  padding: 0.5em 1em;
  margin-bottom: 1px;

  display: flex;
  justify-content: space-between;
}
.flashcards li:hover {
  opacity: 0.8;
  cursor: pointer;
}
.deleteAllRow {
  margin-bottom: 1em;
}
.deleteAllRow button {
  margin-right: 1em;
}
